<img src="<url:images/>/radsys-header.png"/>
<style>
	.navbar-brand img {
		margin-left: 5px;
		margin-top: 0px;
		margin-right: 5px;
	}
</style>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="<url:root/..//>">
				<img class="pull-left" src="<url:images/>/logo.png" width="24" />
				<b>&copy; RADSYS 4</b>
			</a>
		</div>
		<div >
			<ul class="nav navbar-nav">
				<li class="active"><a href="<url:root/>/home">Home</a></li>
				<li><a href="<url:root/>/auth/">Log In</a></li>
			</ul>
		</div>
	</div>
</nav>
